---
- name: mount role
  tags:
    - mount
  block:

  # debug 
  - when: false
    ansible.builtin.debug:
      msg: "{{ mount }}"
  
  # assertions
  - name: Assertions for mount role
    ansible.builtin.assert:
      that:
      - mount_point != None
      - mount_type != None
      - mount_user != None

  # mkdir mountpoint
  - name: Mkdir {{ mount_point }}
    become: true
    ansible.builtin.file:
      path: "{{ mount_point }}"
      state: directory
      owner: "{{ mount_point_owner }}"
      group: "{{ mount_point_owner }}"
      mode: "{{ mount_point_mode }}"

  # smb || cifs
  - when: (mount_type == "smb") or (mount_type == "cifs")
    ansible.builtin.import_tasks: mount.smb.yml

  # davfs
  - when: (mount_type == "davfs") or (mount_type == "davfs2")
    ansible.builtin.import_tasks: mount.davfs.yml